.btn {
    background: none;
    border: none;
    background-color: light-dark(var(--color-gray-14), var(--color-gray-1));
    color: light-dark(var(--color-gray-0), var(--color-gray-15));
    border-radius: 3rem;
    cursor: pointer;
}

/* Bottone small */
.btn-small {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-sm);
}

/* Bottone default/medium */
.btn-medium {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-body);
}

/* Bottone large */
.btn-large {
    padding: var(--spacing-md) var(--spacing-lg);
    font-size: var(--font-size-h6);
}

/* Bottone stato hover  */
.btn:hover {
    background-color: light-dark(var(--color-gray-12), var(--color-gray-3));
    transition: 0.5s;
}

/* Bottone stato disabilitato */
.btn:disabled {
    background-color: var(--color-gray-2);
    color: var(--color-gray-10);
    cursor: not-allowed;
}

/* Stile per gruppo di bottoni */
.btn-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card .btn {
    width: 100%;
}