/* Definizione globale delle variabili CSS (custom properties) accessibili ovunque nel progetto */

:root {
    /* Spacing (spaziature): unità standardizzate per margini, padding, gap, ecc. */
    --spacing-zero: 0;
    --spacing-xs: clamp(4px, 2px + 0.5vw, 8px);
    --spacing-sm: clamp(8px, 4px + 1vw, 16px);
    --spacing-md: clamp(16px, 12px + 1vw, 24px);
    --spacing-lg: clamp(24px, 20px + 1vw, 32px);
    --spacing-xl: clamp(32px, 24px + 2vw, 48px);

    /* Typography: dimensioni dei font scalabili per vari livelli di gerarchia */
    --font-size-hero: clamp(3.815rem, 3.573rem + 0.97vw, 4.3rem);
    --font-size-h1: clamp(2.896rem, 2.436rem + 1.838vw, 3.815rem);
    --font-size-h2: clamp(2.488rem, 2.206rem + 1.128vw, 3.052rem);
    --font-size-h3: clamp(2.074rem, 1.89rem + 0.734vw, 2.441rem);
    --font-size-h4: clamp(1.728rem, 1.616rem + 0.45vw, 1.953rem);
    --font-size-h5: clamp(1.44rem, 1.378rem + 0.246vw, 1.563rem);
    --font-size-h6: clamp(1.25rem, 1.225rem + 0.1vw, 1.3rem);
    --font-size-body: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;

    /* Definizione globale delle variabili CSS (custom properties) */

    /* ===== HUES ===== */

    /* Grigio freddo */
    --hue-gray: 225;

    /* ===== GRIGI ===== */
    --color-gray-0: oklch(98% 0.01 var(--hue-gray));
    --color-gray-1: oklch(94% 0.01 var(--hue-gray));
    --color-gray-2: oklch(90% 0.01 var(--hue-gray));
    --color-gray-3: oklch(86% 0.01 var(--hue-gray));
    --color-gray-4: oklch(82% 0.01 var(--hue-gray));
    --color-gray-5: oklch(78% 0.01 var(--hue-gray));
    --color-gray-6: oklch(74% 0.01 var(--hue-gray));
    --color-gray-7: oklch(70% 0.01 var(--hue-gray));
    --color-gray-8: oklch(65% 0.01 var(--hue-gray));
    --color-gray-9: oklch(60% 0.01 var(--hue-gray));
    --color-gray-10: oklch(50% 0.01 var(--hue-gray));
    --color-gray-11: oklch(40% 0.01 var(--hue-gray));
    --color-gray-12: oklch(30% 0.01 var(--hue-gray));
    --color-gray-13: oklch(20% 0.01 var(--hue-gray));
    --color-gray-14: oklch(15% 0.01 var(--hue-gray));
    --color-gray-15: oklch(10% 0.01 var(--hue-gray));
}