.card {
    max-width: 280px;
    background-color: light-dark(var(--color-gray-0), var(--color-gray-13));
    border-radius: 1rem;
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
}

.card-image {
    width: 100%;
    object-fit: contain;
    border-radius: 0.25rem;
}

.card-badge-category {
    display: flex;
}

.card-title {
    font-size: var(--font-size-h6);
    line-height: 1.5;
    color: light-dark(var(--color-gray-15), var(--color-gray-1));
}

.card-description {
    font-size: var(--font-size-sm);
    color: light-dark(var(--color-gray-12), var(--color-gray-3));
    margin-bottom: var(--spacing-xs);
    line-height: 1.5;
}

.card-price-container {
    margin-bottom: var(--spacing-md);
}

.card-old-price {
    color: var(--color-gray-10);
    text-decoration: line-through;
    font-weight: 400;
    margin-right: 0.5rem;
    font-size: var(--font-size-sm);
}

.card-price {
    font-weight: 700;
    color: light-dark(var(--color-gray-15), var(--color-gray-1));
}

/* Badge status */
.card-header .badge {
    position: absolute;
    top: 1.5rem;
    right: 0.2rem;
}

/* Card disabilitata */
.card-soldOut .card-image,
.card-soldOut .card-title,
.card-soldOut .card-price-container,
.card-soldOut .card-description {
    opacity: 0.6;
}

.card-soldOut .card-badge-category {
    opacity: 0.8;
}

.card-soldOut .card-description {
    color: var(--color-gray-13);
}

.card-soldOut .badge-soldOut {
    z-index: 1;
}